<html>
  <head>
    <title><%= headerTitle %></title>
  </head>
  <body>
    <ul>
    <% days.forEach(function(day){ %>
      <li>
          <%= day %>
      </li>
    <% })%>
  </ul>
  </body>
</html>